/* ---------------------------------------------------- */
/* --------------------- GENERAL ---------------------- */
/* ---------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  justify-content: left;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: black;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

.logo {
  height: 8em;
  margin-top: 1vw;
  margin-left: 2vw;
}

.heading {
  font-size: 36px;
  font-weight:500;
  font-family: 'Montserrat';
}

.heading-2 {
  font-family: 'Nunito';
  font-size: 32px;
  margin-bottom: .5em;
}

.gold-div {
  background-color: #F7E3AE;
}

.row {
  margin-bottom: 2em;
}

#container.container-fluid {
  padding-left: 15%;
  padding-right:15%;
}

@media(max-width: 1050px) {
  .logo {
    height: 10vh;
    margin: 1vh;
  }
  .heading {
    font-size: 32px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .heading-2 {
    font-size: 28px;
  }
  #container.container-fluid {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* ---------------------------------------------------- */
/* -------------------- MENU/NAV ---------------------- */
/* ---------------------------------------------------- */

#menu {
  font-size:45px;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  float: right;
  color: black;
  cursor:pointer;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  font-family: 'Nunito';
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0em;
  right: .3em;
  font-size: 60px;
}

@media (max-width: 1050px) {
    #menu {
    top: 0;
    right: .3em;
  }
  .overlay .closebtn {
    margin-top: -.3em;
    right: .25em;
    font-size: 50px;
  }
}

.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@media(max-width: 1050px) {
  .arrow {
    display: none;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* ---------------------------------------------------- */
/* ------------------ SPOTIFY PAGE -------------------- */
/* ---------------------------------------------------- */
#spotify-hi {
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}

#spotify-carousel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#spotify-bg {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -900;
}
#spotify-note {
  position:absolute;
  bottom:1%;
  left: 1%;
}
#spotify-container {
  width: 70%;
  margin-top: 5em;
  margin-bottom: 5em;
  height: 50%;
}

#spotify-carousel {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1vw
  z-index: 2;
}

#spotify-heading {
  margin-top: .5em;
}

#spotify-container-2 {
  width: 70%;
  padding-top: 8em;
  margin-bottom: 5em;
}
#spotify-container-3 {
  width: 70%;
  margin-top: 5em;
  margin-bottom: 5em;
}
#users-first {
  margin-bottom 5em;
}
#users-first a {
  color: black;
  text-decoration: underline;
}
#users-first a:hover{
  color:#fbaf40;
}
#writers-block {
  margin-bottom: 5em;
}
#why-mce {
  width: 95%;
  margin-top: 1em;
  margin-bottom: 5em;
  font-size: 18px;
}
#community {
  font-size: 18px;
  margin-top: 1em;
}
.collab-play {
  width: 75%;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
}
.synesthesia {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media(max-width: 1050px) {
  #spotify-note {
    display:none;
  }
  #spotify-container {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  #spotify-carousel {
    text-align: center;
    font-size: 24px;
    margin-bottom: 3em;
  }
  #animated-me {
    width: 80%;
    margin-bottom: 0em;
  }
  #spotify-container-2 {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }
  #spotify-heading {
    font-size: 24px;
    margin: 0;
  }
  #why-mce {
    width: 100%;
    margin-bottom: 2em;
    font-size: 16px;
  }
  .collab-play {
    width: 100%;
  }
}


/* ---------------------------------------------------- */
/* --------------------- FOOTER ----------------------- */
/* ---------------------------------------------------- */

#footer {
  position: relative;
  text-align: center;
  padding-top: 5vw;
  margin-top: 2em;
  margin-bottom: 2vw;
  font-size: large;
  color: #cdcdcd
}

.fa {
  padding: 15px;
  width: 80px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.fa:hover {
    opacity: 1.0;
    color: black;
    text-decoration: none;
}

@media(max-width: 1050px) {
  .fa {
    width: 60px;
  }
}
