/* ---------------------------------------------------- */
/* --------------------- GENERAL ---------------------- */
/* ---------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  justify-content: left;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}
.black-div {
  background-color: #191414;
}
.pink-div {
  background-color: #ff59c7;
}
.green-div {
  background-color: #1DB954;
}
.gold-div {
  background-color: #fbaf40;
}
.logo {
  height: 8em;
  margin-top: 1vw;
  margin-left: 2vw;
}

@media(max-width: 1050px) {
  .logo {
    height: 10vh;
    margin: 1vh;
  }
}

/* ---------------------------------------------------- */
/* -------------------- MENU/NAV ---------------------- */
/* ---------------------------------------------------- */

#menu {
  font-size:45px;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  float: right;
  color: black;
  cursor:pointer;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  font-family: 'Nunito';
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0em;
  right: .3em;
  font-size: 60px;
}

@media (max-width: 1050px) {
    #menu {
    top: 0;
    right: .3em;
  }
  .overlay .closebtn {
    margin-top: -.3em;
    right: .25em;
    font-size: 50px;
  }
}
#top-arrow{
  float:left;
  margin-left: 25%;
}
.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@media(max-width: 1050px) {
  .arrow {
    display: none;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* ---------------------------------------------------- */
/* ------------------ SPOTIFY PAGE -------------------- */
/* ---------------------------------------------------- */
#spotify-hi {
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size:4rem;
}

#spotify-carousel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1em;
}

#spotify-bg {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -900;
}

#animated-me {
  width: 80%;
  margin-top: 3em;
}

.spotify-heading {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .5em;
  font-weight: 600;
  font-size: 3.5em;
}

.spotify-heading-2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .5em;
  font-weight: 600;
  font-size: 2.5rem;
}

.spotify-body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.spotify-body-2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

#spotify-pics {
  width: 100%;
  border-radius: 10px;
}

#spotify-pic-screen {
  width: 90%;
  border-radius: 10px;
  float: right;
  box-shadow: -2px 5px 5px #333333;
}

#spotify-container {
  width: 70%;
  margin-top: 5em;
  margin-bottom: 5em;
  height: 50%;
}

#div-3 {
    width: 100%;
    height: 150%;
    color: white;
}
#div-4 {
  width:100%;
  color: white;
  height: 110%;
}
#div-5 {
  width: 100%;
  color: white;
  height: 35%;
}
#div-6 {
    width: 100%;
    height: 110%;
    color: white;
}
#div-7 {
    width: 50%;
    height: 110%;
    color: white;
}
#div-8 {
    width: 100%;
    height: 130%;
    color: white;
}
#div-9 {
  width: 100%;
  height: 20%;
}
#div-10 {
  width: 100%;
  height: 60%;
}
#spotify-container-2 {
  width: 70%;
  margin-top:16em;
  padding-top:5em;
  margin-bottom: 5em;
}

#spotify-container-3 {
  width: 70%;
  padding-top: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
}
#spotify-container-4 {
  width: 70%;
  padding-top: 5em;
  margin-bottom: 5em;
}

#spotify-container-5 {
  width: 70%;
  padding-top: 5em;
  margin-bottom: 5em;
}
#spotify-container-6 {
  width: 100%;
}
#spotify-container-7 {
  width: 70%;
  padding-top: 5em;
  margin-bottom: 5em;
}
#spotify-container-8 {
  width: 70%;
  padding-top: 3em;
  margin-bottom: 5em;
}
#spotify-container-9 {
  width: 70%;
  padding-top: 3em;
  color:white;
  text-align: center;
}
#community {
  font-size: 18px;
  margin-top: 1em;
}
#users-head {
  padding-top: 1em;
  padding-left: 10%;
}
#users-first {
  width: 90%;
  padding-left: 10%;
}
#data-head {
  padding-top: 1em;
  padding-left: 10%;
}
#data {
  width: 90%;
  padding-left: 10%;
  margin-bottom: 5em;
}
.collab-play {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
}
.synesthesia {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
}
@media(max-width: 1050px) {
  #spotify-bg {
    position: static;
    margin-top: 1em;
  }
  #spotify-container {
    width: 100%;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 3em;
  }
  #spotify-carousel {
    text-align: center;
    font-size: 24px;
    margin-bottom: 3em;
  }
  #div-2 {
    position: static;
  }
  #spotify-container-2 {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }
  #spotify-heading {
    font-size: 24px;
    margin: 0;
  }
  .collab-play {
    width: 100%;
  }
}


/* ---------------------------------------------------- */
/* --------------------- FOOTER ----------------------- */
/* ---------------------------------------------------- */

#footer {
  position: relative;
  text-align: center;
  padding-top: 5vw;
  margin-top: 2em;
  margin-bottom: 2vw;
  font-size: large;
  color: #cdcdcd
}

.fa {
  padding: 15px;
  width: 80px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.fa:hover {
    opacity: 1.0;
    color: black;
    text-decoration: none;
}

@media(max-width: 1050px) {
  .fa {
    width: 60px;
  }
}
