/* ---------------------------------------------------- */
/* --------------------- GENERAL ---------------------- */
/* ---------------------------------------------------- */
html {
  scroll-behavior: smooth;
  background-color: #fffbf1;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


body {
  font-family: 'Lora', serif;
  color: #21313C;
  width: 100%;
  justify-content: left;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700 !important;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: .5rem 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    font-size: 1.25rem;
    margin: .5rem 0;
    line-height: 165%;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 .5rem 0;
}

p {
  font-family: 'Lora', serif;
  color: #21313C;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 16px 0 !important;
  padding: 0;
}

a {
  color: #21313C !important;
}

a:hover {
  text-decoration: none !important;
}

.highlight-link {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0px 1px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 #fbaf40;
}
.highlight-link:hover {
      box-shadow: inset 0 -12px 0 0 #fbaf40;
}

.active-menu {
    box-shadow: inset 0 -12px 0 0 #fbaf40;
}


  /********************************/
 /********** NAVIGATION **********/
/********************************/
.logo {
  position: absolute;
  height: 96px;
  left: 64px;
  top: 40px;
  z-index: 999;
}
.hidden {
  display: none;
}
.header {
  width: 100%;
}
.navbar {
  background-color: #fffbf1;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 0px !important;
  margin: 0 auto;
}
.menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}
.menu-item {
  margin-top: 64px;
  margin-right: 64px;
  z-index: 999;
}
.menu-item a {
  font-family: 'Lora', serif;
  font-size: 1.125rem;
}
.ham {
  display: none;
}

.highlight-menu {
    text-decoration: none;
    display: inline-block;
    padding: 0px 3px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
}
.highlight-menu:hover {
      box-shadow: inset 0 -12px 0 0 #fbaf40;
}

  /********************************/
 /************* HOME *************/
/********************************/

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
}

.headers {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headers h1 {
  width: 480px;
  margin-right: 80px;
}
.headers p {
  width: 480px;
  margin-right: 135px !important;
}
.blank {
  width: 33%;
}

#index img {
  width: 312px;
  transition: transform 250ms;
}

#index img:hover {
  transform: translateY(-20px);
}

#iam-carousel {
  width: 36vw;
  margin-bottom: 8px;
}

#desc {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  width: 30vw;
}

#desc p {
  font-size: 1.125rem;
  margin-bottom: 24px !important;
}

.button {
  font-family: 'Lora', serif;
  padding: 2px 22px;
  font-size: 1rem;

  width: 126px;
  height: 27px;

  color: #21313C;
  background: #F5D19A;
  box-shadow: -3px 3px 0px #FBAF40;
  border-radius: 5px;
}

.button:hover {
  text-decoration: none;
  font-weight: normal;
}

#highlights {
  position: relative;
  top: 64px;
  padding-top: 15vh;
  width: 100%;
  margin-bottom: 12vh;
}

  /********************************/
 /************ SCROLL ************/
/********************************/
.scroll {
  background-color: none;
  position: relative;
  margin-top: -96px;
}
.scroll:before,
.scroll:after {
	content: '';
	display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: 4px solid #21313C;
	border-right: 4px solid #21313C;
}

.scroll:before {
	animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll:after {
	animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}


  /********************************/
 /************ ABOUT *************/
/********************************/
.hero-about {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
#about-img img {
  margin-top:48px;
  margin-left: 5vw;
  width: 32vw;
  filter: drop-shadow(0px 10px 40px rgba(33, 49, 60, 0.4));
}

#about-desc {
  width: 50vw;
}

#about-desc h1 {
  margin-bottom: 24px !important;
}

#about-desc p {
  font-size: 1.125rem;
  margin-bottom: 24px !important;
}

  /********************************/
 /*********** PROJECTS ***********/
/********************************/

.projects-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 5%;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.project-text {
    width: 33%;
}

.project-img {
  width: 480px;
  height: 260px;
  margin-right: 80px;
  transition: 250ms;
}
.project-img:hover {
  transform: translateY(-20px);
}
.project h3 {
  margin-left:56px;
}

  /********************************/
 /*********** WORK EXP ***********/
/********************************/
#highlighted-work {
  margin-bottom: 5vw;
}

.hero-img img {
  width: 100%;
  border-radius: .5rem;
}
.project-blank {
  width: 220px;
}
.proj-container {
  width: 80%;
  display: block;
  align-content: center;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 5%;
}
.proj-spec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.spec-item {
  padding-right: 1.5rem;
}
.proj-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}
.proj-header h1 {
  font-size: 3rem !important;
}
.proj-subtitle {
  width: 38%;
  padding-right: 3rem;
}
.proj-section {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.proj-content {
  width: 62%;
}
.callout {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: var(--text80);
  line-height: 2.25rem;
}
.body-img {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

  /********************************/
 /************* FUN **************/
/********************************/

#currently-listening {
  margin-top: 160px;
  margin-bottom: 40px;
  padding-top: 5vh;
  width: 100%;
}

#playlists {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis:auto ;
  justify-content:center;
  align-items: center;
  align-content: center;
  margin-top: 32px;
}

.playlist {
  width: 20%;
  text-align: center;
}
.playlist img {
  margin-bottom: 24px;
  width: 15vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-radius: 2px;
  filter: drop-shadow(0px 10px 40px rgba(33, 49, 60, 0.25));
  transition: transform 250ms;
  }

.playlist img:hover {
  transform: translateY(-20px);
  }

.playlist-title {
  font-family: 'Raleway', sans-serif;
  margin-bottom:0 !important;
  text-align: center;
  font-weight: bold;
}


  /********************************/
 /************ FOOTER ************/
/********************************/
footer {
  background-color: none;
  color: #21313C;
  text-align: center;
  width: 100%;
  background-color: none;
  padding-bottom: 5vh;
}


.fa {
  padding: 15px;
  width: 80px;
  text-decoration: none;
  color: #21313C;
  opacity: 0.5;
}
.fa:hover {
    opacity: 1.0;
    color: black;
    text-decoration: none;
}



@media only screen and (max-width: 880px) {
  .logo {
    height: 80px;
    top: 1.5rem;
    left: 1rem;
  }
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background: #fffbf1;
    transition: all 0.3s ease;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-50%);
  }
  .menu-item {
    margin-right: 0;
  }
  .menu-item:not(:first-child) {
    margin-top: 40px;
  }
  .nav-toggle {
    display: block;
    position:absolute;
    right: 0px;
    top: 1rem;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 998;
  }
  #nav:checked ~ .wrapper {
     z-index: 99;
     opacity: 1;
   }
  .ham {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
  }
  .hamRotate.active {
    transform: rotate(45deg);
    color: #ffffff;
  }
  .hamRotate180.active {
    transform: rotate(180deg);
    color: #ffffff;
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }

  .headers h1 {
    width: auto;
    margin-right: 0;
  }
  .blank {
    width: 0;
  }
  .project {
    flex-direction: column;
  }
  .project-img {
    width: 80vw;
    height: auto;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .project-text {
    width: 85vw;
    text-align: center;
  }
  .project-text h2{
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h5 {
    font-size: 2rem!important;
  }
  p {
    font-size: 16px !important;
  }
  .hero {
    margin-top: -80px;
    flex-direction: column;
  }
  #index img {
    width: 60vw;
    margin-bottom: 40px;
  }
  #iam-carousel {
    width: 85vw;
  }
  #desc {
    margin-left: 0;
    width: 85vw;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .hero-about {
    flex-direction: column;
    margin-top: 32px;
    height: auto;
  }
  #about-img img {
    width: 100vw;
    padding-left:5vw;
    padding-right:8vw;
    margin-bottom: 24px;
    box-shadow: none;
  }
  #about-desc {
    width: 88vw;
    text-align: center;
    padding-left: 7.5vw;
  }


  /** PROJECT PAGES **/
  .proj-container {
    margin-top: 80px;
  }
  .proj-spec {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .spec-item {
    padding-right: 0;
  }
  .proj-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .proj-header h1 {
    font-size: 2.5rem !important;
  }
  .hero-img img {
    width: 100%;
  }
  .proj-subtitle {
    width: 100%;
    margin-bottom: 1rem;
  }
  .proj-section {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .proj-content {
    width: 100%;
  }
  .callout {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
