/* ---------------------------------------------------- */
/* --------------------- GENERAL ---------------------- */
/* ---------------------------------------------------- */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: black;
}

.logo {
  height: 8em;
  margin-top: 1vw;
  margin-left: 2vw;
}

@media(max-width: 1050px) {
  .logo {
    height: 10vh;
    margin: 1vh;
  }
}

#text a {
  color: #fbaf40;
}

#text a:hover {
  color: black;
  text-decoration: none;
}

.gold-div {
	background-color: #fbaf40;
	position: fixed;
}

.sub-heading {
  font-size: 0.8em;
  font-weight: bold;
}

.sub-text {
  font-size: 0.9em;
}

/* ---------------------------------------------------- */
/* -------------------- MENU/NAV ---------------------- */
/* ---------------------------------------------------- */

#menu {
  font-size:45px;
  cursor:pointer;
  float: right;
  margin-top: 2vh;
  margin-right: 3vh;
  color: black;
}

@media(max-width: 1050px) {
  #menu {
    margin-top: 3vw;
    margin-right: 1vh;
  }
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  font-family: 'Nunito';
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 60px;
}

/* ---------------------------------------------------- */
/* --------------------- FOOTER ----------------------- */
/* ---------------------------------------------------- */


#footer {
  position: relative;
  text-align: center;
  padding-top: 5vw;
  margin-bottom: 2vw;
  font-size: large;
  color: #cdcdcd

}

.fa {
  padding: 15px;
  width: 80px;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.fa:hover {
    opacity: 1.0;
    color: black;
}

@media(max-width: 1050px) {
  .fa {
    width: 60px;
  }
}

/* ---------------------------------------------------- */
/* --------------------- INDEX ------------------------ */
/* ---------------------------------------------------- */

.gold-div {
  height: 40vh;
	width: 40%;
	top: 32%;
	left: 48%;
  z-index: 1;
  opacity: 0.7;
}

@media(max-width: 1050px) {
  .gold-div {
    display: none;
  }
}

#iam-carousel {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 34px;
	text-align: left;
	position: fixed;
  left: 52%;
  top: 40%;
  width: 40%;
  margin-bottom: 1vw
  letter-spacing: 3px;
  z-index: 2;
}

@media(max-width: 1050px) {
  #iam-carousel {
    font-size: 24px;
    top: 50vw;
    width: 35%;
    left: 8%;
  }
}

#desc {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  position: fixed;
  left: 52vw;
  width: 32%;
  top: 45%;
  letter-spacing: 3px;
  z-index: 2;
}

@media(max-width: 1050px) {
  #desc {
    font-size:18px;
    position: relative;
    width: 100vw;
    left: auto;
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
  }
}

#desc a{
  color: black;
}

#desc a:hover {
  color: #999999;
}

 #about .img-fluid {
  height: 55vh;
  width: auto;
  margin-top: 5vw;
  padding-left: 12vw;
  padding-right: 12vw;
}

@media(max-width: 1050px) {
  #about .img-fluid {
    width: 100vw;
    height: auto;
    padding: 0px;
  }
}

/* ---------------------------------------------------- */
/* --------------------- ABOUT ------------------------ */
/* ---------------------------------------------------- */

.bg-container {
    position: relative;
    display: flex;
    padding-top: 5vh;
    width: 50%;
    margin: 0 auto;
    max-width: 800px;
}

.bg {
  position: relative;
  display: flex;
}

.left-column {
  max-width: 60%;
}

.right-column {
  padding-left: 5em;
}

#right-pic {
  width: 170px;
}

/* ---------------------------------------------------- */
/* ------------------- EXPERIENCE --------------------- */
/* ---------------------------------------------------- */

#co {
  font-weight: 350;
}

#group {
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 3vh 0vh 5vh 5vw;
}

#title {
  margin-top: -0.5vh;
  font-size: 25px;
  font-weight: 300;
}

#co-logo.col-sm-2 {
  text-align: center;
}

#experience.col-sm-5 {
  font-size: 18px;
  letter-spacing: 2px;
}

#location-exp {
  font-weight: 300;
}

@media(max-width: 765px) {
  #group {
      text-align: center;
      padding: 3vw 3vw 3vw 3vw;
      margin-left: 0px;
      margin-right: 0px;
  }

  #co-logo.col-sm-6 {
    margin-left: -5vw;
    padding-bottom: 5vh
    text-align: center;
  }

  #experience.col-sm-6 {
    margin: 0px;
    padding: 0px 3vw 0px 3vw;
    text-align: center;
  }

}
